regex==2024.11.6
httpx==0.28.1
dill==0.3.6
cycler==0.12.1
tiktoken==0.5.2
shellingham==1.5.4
jsonschema==4.23.0
pydantic_core==2.27.2
anyio==3.7.1
tomlkit==0.13.2
gitdb==4.0.12
openai==1.73.0
markdown-it-py==3.0.0
networkx==3.2.1
python-dateutil==2.9.0.post0
Flask==2.3.3
pydub==0.25.1
python-multipart==0.0.20
Pillow==9.5.0
marshmallow==3.26.1
hjson==3.1.0
protobuf==4.25.6
requests==2.31.0
simplejson==3.20.1
tzdata==2025.1
mdurl==0.1.2
pycparser==2.22
ninja==1.11.1.3
h11==0.14.0
aiofiles==23.2.1
toml==0.10.2
Pympler==1.1
fonttools==4.56.0
transformers-stream-generator==0.0.4
jiter==0.9.0
tzlocal==4.3.1
SQLAlchemy==2.0.38
transformers==4.43.2
oss2==2.19.1
aliyun-python-sdk-kms==2.16.5
tornado==6.4.2
certifi==2025.1.31
msgpack==1.1.0
sympy==1.13.1
orjson==3.10.15
safehttpx==0.1.6
blinker==1.9.0
narwhals==1.28.0
schedule==1.2.1
pytz==2025.1
urllib3==1.26.20
joblib==1.4.2
watchdog==6.0.0
jsonschema-specifications==2024.10.1
aiohttp==3.11.13
matplotlib==3.10.1
typing-inspect==0.9.0
threadpoolctl==3.6.0
accelerate==1.6.0
torchaudio==2.5.1
platformdirs==4.3.6
huggingface-hub==0.29.1
importlib-metadata==6.11.0
PySocks==1.7.1
pandas==2.2.3
python-socketio==5.13.0
psutil==5.9.8
GitPython==3.1.44
typer==0.15.2
sniffio==1.3.1
aliyun-python-sdk-core==2.16.0
cffi==1.17.1
pip==24.2
mpmath==1.3.0
gradio_client==0.6.1
mypy-extensions==1.0.0
setproctitle==1.3.5
simple-websocket==1.1.0
distro==1.9.0
uvicorn==0.24.0.post1
zipp==3.21.0
numpy==1.26.4
multidict==6.1.0
dataclasses-json==0.5.14
triton==3.1.0
idna==2.10
ollama==0.4.7
referencing==0.36.2
click==8.1.8
bitsandbytes==0.45.3
safetensors==0.5.3
altair==5.5.0
nvidia-ml-py==12.570.86
jmespath==0.10.0
aiohappyeyeballs==2.4.6
beautifulsoup4==4.12.2
six==1.17.0
pyparsing==3.2.1
scipy==1.15.2
ffmpy==0.5.0
httpcore==1.0.7
sortedcontainers==2.4.0
tenacity==8.5.0
yarl==1.18.3
flash-attn==2.7.3
frozenlist==1.5.0
starlette==0.45.3
py-cpuinfo==9.0.0
peft==0.4.0
pydeck==0.9.1
importlib_resources==6.5.2
pyarrow==19.0.1
mkl_random==1.2.7
wandb==0.19.9
chardet==4.0.0
ruff==0.9.8
filelock==3.13.1
langchain-openai==0.0.5
crcmod==1.7
kiwisolver==1.4.8
einops==0.8.1
Pebble==5.1.0
deepspeed==0.16.4
addict==2.4.0
mkl-service==2.4.0
charset-normalizer==3.3.2
sentry-sdk==2.25.1
torchvision==0.20.1
python-dotenv==1.0.0
pynvml==12.0.0
packaging==23.2
itsdangerous==2.2.0
Pygments==2.19.1
xxhash==3.5.0
rich==13.9.4
attrs==25.1.0
jsonpointer==3.0.0
Flask-SocketIO==5.3.6
langsmith==0.0.87
MarkupSafe==2.1.3
setuptools==72.1.0
tokenizers==0.19.1
numexpr==2.10.2
greenlet==3.1.1
Jinja2==3.1.4
multiprocess==0.70.14
cachetools==5.5.2
wheel==0.44.0
propcache==0.3.0
aiosignal==1.3.2
streamlit==1.24.0
pycryptodome==3.21.0
rpds-py==0.23.1
langchain==0.0.330
sentencepiece==0.2.0
validators==0.34.0
semantic-version==2.10.0
modelscope==1.9.5
scikit-learn==1.6.1
mkl_fft==1.3.10
jsonpatch==1.33
Brotli==1.0.9
jieba==0.42.1
gradio==3.48.0
datasets==3.3.2
PyYAML==6.0.2
pytz-deprecation-shim==0.1.0.post0
fsspec==2024.12.0
websockets==11.0.3
fastapi==0.115.9
python-engineio==4.12.0
pydantic==2.10.6
wsproto==1.2.0
contourpy==1.3.1
torch==2.5.1
Werkzeug==3.1.3
smmap==5.0.2
typing_extensions==4.12.2
cryptography==44.0.1
attrdict==2.0.1
mpi4py==4.0.3
docker-pycreds==0.4.0
langchain-core==0.1.23
soupsieve==2.6
timeout-decorator==0.5.0
annotated-types==0.7.0
bidict==0.23.1
spaces==0.16.1
tqdm==4.67.1
yapf==0.43.0
gast==0.6.0
jaraco.context==5.3.0
inflect==7.3.1
typeguard==4.3.0
autocommand==2.2.2
more-itertools==10.3.0
zipp==3.19.2
jaraco.functools==4.0.1
importlib_metadata==8.0.0
jaraco.text==3.12.1
packaging==24.1
tomli==2.0.1
importlib_resources==6.4.0
ordered-set==4.1.0
wheel==0.43.0
backports.tarfile==1.2.0
platformdirs==4.2.2
typing_extensions==4.12.2
